/* CSS personalizado para NotasPage */
body {
    background-color: #131313; /* Establece el color de fondo de la pantalla en #131313 */
    color: #fff; /* Cambia el color del texto a blanco */
    font-family: 'Centra', sans-serif;
  }
  
  .notes-page {
    padding: 30px;
  }
  
  .notes-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .content {
    margin-top: 60px; /* Ajusta el margen superior para separarlo del NavBar */
    padding: 20px;
  }
  
  
  .note {
    background-color: #08f; /* Cambia el color de fondo a #08f */
    border-radius: 10px;
    padding: 2rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
  }
  
  .note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .delete-icon {
    cursor: pointer;
  }
  
  .note.new {
    background-color: #08f;
  }
  
  textarea {
    border: none;
    resize: none;
    background-color: #08f;
  }
  
  textarea::placeholder {
    color: rgba(255, 255, 255, 0.8); /* Cambia el color del placeholder a un blanco semi-transparente */
  }
  
  textarea:focus {
    outline: none;
  }
  
  .save {
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
  }
  
  .save:hover {
    background-color: #ededed;
    cursor: pointer;
  }
  
  /* CSS personalizado para AddNote */
  .add-note {
    color: #fff; /* Cambia el color del texto a blanco */
  }
  
  .add-note textarea {
    color: #fff; /* Cambia el color del texto a blanco */
    border: none;
    resize: none;
    background-color: #08f;
  }
  
  .add-note textarea::placeholder {
    color: rgba(255, 255, 255, 0.8); /* Cambia el color del placeholder a un blanco semi-transparente */
  }
  
  .add-note textarea:focus {
    outline: none;
  }